<header class="main-header">
    <nav class="menu">
      <ul class="menu-list">
        <li><a routerLink="/">{{'HEADER.HOME' | translate}}</a></li>
        <li><a href="#">{{'HEADER.ABOUT' | translate}}</a></li>
        <li><a routerLink="note">{{'HEADER.NOTE' | translate}}</a></li>
        <li><a routerLink="contact">{{'HEADER.CONTACT' | translate}}</a></li>
      </ul>
    </nav>
    <div class="social-buttons">
      <a href="#" class="social-button facebook">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="#" class="social-button twitter">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" class="social-button instagram">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </header>
  
