<header class="main-header">
    <nav class="menu">
      <ul class="menu-list">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <div class="social-buttons">
      <a href="#" class="social-button facebook">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="#" class="social-button twitter">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" class="social-button instagram">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </header>
  
