main {
    background-color: rgb(148, 148, 146);
}

.main-img {
    height: 400px;
    background: url('/assets/img/men-playing-guitar-handsome-young-man-pictures_csp16301188.webp') no-repeat center center;
}